apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-services-version-deployment
  namespace: construction-hub
  labels:
    tier: backend
    app: k8s-services-version-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-services-version-app
  template:
    metadata:
      labels:
        tier: backend
        app: k8s-services-version-app
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: k8s-services-version-app
        image: bpsmsconhubconreg.azurecr.io/k8s-services-version:latest
        imagePullPolicy: "Always"
        ports:
        - containerPort: 3000
        resources:
          requests:
            memory: "250M"
            cpu: "100m"
          limits:
            memory: "500M"
            cpu: "250m"
        env:
        - name: K8S_SERVICE_ENDPOINT_STORAGE
          value: "http://storage-api-service.construction-hub.svc.cluster.local/api/info"
        - name: K8S_SERVICE_ENDPOINT_BUILDINGRADAR
          value: "http://buildingradar-api-service.construction-hub.svc.cluster.local/api/info"
        - name: K8S_SERVICE_ENDPOINT_UI_API
          value: "http://ui-api-service.construction-hub.svc.cluster.local/api/info"
        livenessProbe:
          httpGet:
            path: /versions
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 60
          timeoutSeconds: 30
          failureThreshold: 2
      tolerations:
      - key: "env"
        operator: "Equal"
        value: "conhub"
        effect: "NoSchedule"
      imagePullSecrets:
      - name: acr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: k8s-services-version-service
  namespace: construction-hub
  labels:
    app: k8s-services-version-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: k8s-services-version-app